#app-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#header {
  text-align: center;
  font-size: 5rem;
  color: green;
}

#puppy-container {
  grid-column: 1;
  text-align: center;
}

#detail-container {
  grid-column: 2;
  text-align: center;
}